*{
    margin:0;
    padding: 0;
}
:root {
    --primary-color: #ff6600;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #000;
    --border-color: #ddd;
    --button-bg: #007bff;
    --button-hover-bg: #0056b3;
    --like-button-color: #e74c3c;
}
