.onePost{
background-color: wheat;
width: 25rem;
display: flex;
flex-direction: column;
align-items: center;
margin: 1rem;
}

.userInfo{
    display: flex;
    display: flex;
    background-color: lightblue;
    padding: 1rem;    
}
.profilepic{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit:cover;
}
.name{
    display: flex;
    margin-left: 1rem;
}

.postImage{
    width:21.60rem;
    height:27.0rem;
    object-fit:cover;
}