
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--secondary-color);
    color:var(--primary-color);
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top:0;
    z-index: 2;
  }
  
  .home {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .homeImage {
    width: 5rem;
    height: 5rem;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .authContainer {
    display: flex;
    gap: 15px;
  }
  
  .signup,
  .login {
    display: inline-block;
    padding: 0.7rem;    background-color: var(--third-color);
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup:hover,
  .login:hover {
    background-color: var(--hovered-color);
        color:var(--hovered-text-color);
  }
  
  .loggedinContainer {
    display: flex;
    align-items: center;
  }
  
  .profilePic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--border-color);
    object-fit: cover;
  }
  
  .profileDetails {
    display: flex;
    flex-direction: column;
  }
  
  .profile {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
  }
  
  .logoutButton {
    margin: 0.5rem 0 0 0.5rem;
    padding: 0.7rem;
    border: none;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
.logoutButton:hover {
  background-color: var(--hovered-color);
  color:var(--hovered-text-color);
}
  