.container{
display: flex;
align-items: center;
justify-content: space-between;
}

.home{
    cursor: pointer;
}
.signup{
cursor: pointer;
}
.login{
    cursor: pointer;
}
.loggedinContainer{
    display: flex;
}
.profilePic{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}