.container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.profileTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profileDescription {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

/* .Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
} */

.chefInfoContainer {
    flex: 1;
}

.createPostContainer {
    flex: 1;
}

.bottom {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.postsContainer {
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorMessage {
    color: red;
    text-align: center;
    font-size: 14px;
}

.loadingMessage {
    text-align: center;
    font-size: 14px;
    color: var(--primary-color);
}

.postsContainer{
    width: 30%;
    margin-left: 30%;
    }
    .onePost {
        background-color: var(--secondary-color);
        color:var(--third-color);
        padding: 20px;
        margin: 10px 0;
        border-radius: 8px;
        border: 1px solid var(--border-color);
    }
    .onePost>div{
        background-color: var(--secondary-color);
        color:var(--third-color);
        margin: 0.5rem;
    }
    .userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    
    }
    
    .profilepic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }
    
    .name {
        color: var(--primary-color);   
         font-weight: bold;
         display:flex;
    }
    .name>div{
        padding:0rem 0.2rem;
    }
    
    .postTitle {
        color: var(--primary-color);
    }
    
    .postImage {
        width: 100%;
        height: auto;
        margin-top: 10px;
        border-radius: 5px;
    }
    
    
    .likeButton {
       

          
    }
    
    /* .likeButton:hover {
        background-color: var(--hovered-color);
        color:var(--hovered-text-color);
    } */
    
    .likeButton:disabled {
        background-color: var(--border-color);
        cursor: not-allowed;
    }
    
    .likeButton span {
        margin-left: 5px;
        color: var(--like-button-color);
    }
    .likeicon{
        width: 2rem;
        height: 2rem;
        margin:0 0.5rem;
    }
    .buttonContainer{
        display: flex;
        gap: 0.2rem;
    }
    .buttonContainer>button{
        width: 50%;
        background-color: var(--third-color);
        color: var(--secondary-color);    
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        margin: 0.5rem 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }